@import "../../modules/variables";
@import "../../modules/mixins";

.i-material-top-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  .mtn-wrapper {
    @include set-flex;
    padding: 20px 0;
    background: $bg-color-grey;
  }

  .mtn-search,
  .mtn-navs-item {
    position: relative;
    padding: 0 20px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #272727;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #e5e5e5;
      width: 1PX;
      height: 28px;
    }
  }

  .mtn-search {
    flex: 0 0 auto;
    width: 165px;
  }

  .mtn-search-icon {
    width: 47px;
    height: 47px;
    vertical-align: bottom;
  }

  .mtn-navs {
    flex: 1;
    position: relative;
  }

  .mtn-navs-wrapper {
    @include set-text-single-line;
    position: absolute;
    left: 0;
    top: 0;
  }

  .mtn-navs-item {
    display: inline-block;
    min-width: 180px;
    padding-bottom: 3px;

    &:before {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: $color-primary;
      width: 40px;
      height: 3px;
    }

    &.active {
      color: $color-primary;

      &:before {
        content: " ";
      }
    }
  }
}
