@import "../../modules/variables";
@import "../../modules/mixins";

.i-empty {
  padding: 210px 30px 100px;
  text-align: center;

  .ei-image {
    width: 335px;
    height: 310px;
  }

  .empty-tips {
    line-height: 48px;
    font-size: 28px;
    color: #999;
  }
}
