// ======== 全局变量 ========
$color-default: #565555;
$color-primary: #6eb92b;
$color-danger: #d2453d;

// Background
$bg-color-grey: #f6f6f6;

// Height
$line-height-default: 1.5;

// Input
$input-placeholder-color: #999;

// Font
$font-family-default: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$font-color-default: $color-default;
$font-size-default: 30px;
