// ======== 布局样式表 ========
@import "../modules/variables";
@import "../modules/mixins";

// ==== 固定在页面上的顶部跟底部 ====
.i-header,
.i-footer {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}

.i-header {
  top: 0;
}

.i-footer {
  bottom: 0;
}
